ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001",                         MODE="0666", GROUP="plugdev"
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", KERNEL=="ttyUSB[0-9]*", MODE="0666", GROUP="plugdev", SYMLINK+="lumen-projector"
ATTRS{idVendor}=="27b1", ATTRS{idProduct}=="0001", KERNEL=="ttyACM[0-9]*", MODE="0666", GROUP="plugdev", SYMLINK+="lumen-arduino"
