.gdbinit
.vs
.vscode
build
class-template.txt
copy-to-usb-stick.sh
deps-junk-1.txt
deps-junk-2.txt
deps-junk-3.txt
dlp4710/set-projector-power
dlp4710/set-projector-power.o
do-it.sh
gpg/gpg-agent.conf
gpg/openpgp-revocs.d
gpg/private-keys-v1.d
gpg/random_seed
model-library
mountmon/.gdbinit
mountmon/.qmake.stash
mountmon/Makefile
mountmon/build
newConfigureUbuntuAndInstallLightField.sh
out
packaging
superclean.sh
usb-driver/set-projector-power
