# lightfield.service
#
# lightfield systemd unit file:
#    Makes sure the projector is off on startup and shutdown.

[Unit]
Description=Resets Lumen X projector
RequiresMountsFor=/usr

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/set-projector-power 0
ExecStop=/usr/bin/set-projector-power 0
Restart=no

[Install]
WantedBy=basic.target
