[Unit]
Description=Reset Lumen X projector
RequiresMountsFor=/usr

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/set-projector-power 0
ExecStop=/usr/bin/set-projector-power 0
Restart=no

[Install]
WantedBy=basic.target
