[Desktop Entry]
Type=Application
Name=BurnIn-NoHeat
Exec=/home/lumen/Volumetric/printrun/burn_in-noHeat.py
Terminal=true
Categories=Application;
Comment[en_US]=Burn in the printer, noHeat.
Comment=Burn in the printer, noHeat.
