[Desktop Entry]
Type=Application
Name=LumenProjectorPower
Exec=/usr/bin/set-projector-power 0 
X-GNOME-Autostart-enabled=true
Terminal=false
Comment[en_US]=Projector on goes to 255 which is bad for hardware and not necessary for user, so set to 0 as default
Comment=Projector on goes to 255 which is bad for hardware and not necessary for user, so set to 0 as default
