[Desktop Entry]
Type=Application
Name=lumenLockPrimaryDisplay
Exec=xrandr --output DP-1 --primary
X-GNOME-Autostart-enabled=true
Terminal=false
Comment=Make sure all new windows only open on the touchscreen, set as DP-1 (displayport 1) according to 'arandr'
